RewriteEngine On

# Redirect requests to /admin to https://www.evaria.io/admin/index.html
RewriteCond %{REQUEST_URI} !^/admin/index\.html$
RewriteRule ^admin$ https://www.evaria.io/admin/index.html [R=301,L]

# Redirect requests to the root domain to https://www.evaria.io/home/evaria.html
RewriteCond %{HTTP_HOST} ^(www\.)?evaria\.io$ [NC]
RewriteRule ^$ https://www.evaria.io/home/evaria.html [R=301,L]